.limit-text-window {
  padding: 15px;
  border: none;
}

.space-col {
  margin: 0;
}

.privacy.row {
  margin: 0;
}

.privacy .h4 {
  margin-top: 0;
}

.survey-welcome.h4 {
  font-size: 16px;
}

.question-title-container .text-muted {
  color: #333;
}

/* general styling of questions */
.question-container {
  border: 1px solid rgba(102, 102, 102, 0.35);
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: none;
  transition: box-shadow 0.5s;
}

.question-container:hover {
  box-shadow: 0 0 20px #888888;
}

.input-error.question-container {
  border-color: #b20d28;
  background-color: rgba(178, 13, 40, 0.05);
  box-shadow: 0 0 5px #b20d28;
}

.input-error.question-container .question-title-container {
  background-color: #b20d28;
  background-color: #8f1a2c;
  background-image: -moz-linear-gradient(#b20d28, #8f1a2c);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b20d28), to(#8f1a2c));
  background-image: -webkit-linear-gradient(#b20d28, #8f1a2c);
  background-image: -o-linear-gradient(#b20d28, #8f1a2c);
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

td.total {
  border: none;
  background-color: transparent;
}

td.total .form-control[disabled] {
  background: #bbb;
  border: none;
  box-shadow: none;
  border-radius: 0;
  color: #333;
}

.question-title-container {
  color: #702000;
  text-shadow: 0 1px 0 white;
  display: flex;
  background-color: #eeeeee;
  background-color: #e2e2e2;
  background-image: -moz-linear-gradient(#eeeeee, #e2e2e2);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#e2e2e2));
  background-image: -webkit-linear-gradient(#eeeeee, #e2e2e2);
  background-image: -o-linear-gradient(#eeeeee, #e2e2e2);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.question-title-container p:last-child {
  margin-bottom: 0;
}

.ls-answers {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.ls-answers.form-group {
  margin-bottom: 15px;
}

.ls-answers ul:first-child {
  margin-bottom: 0;
}

.ls-question-help, .ls-questionhelp {
  font-size: 80%;
  color: #0b651b;
}

.ls-question-help a, .ls-questionhelp a {
  text-decoration: underline;
  color: #0b651b;
}

.asterisk {
  order: 1;
  width: 20px;
  font-size: 12px;
}

.ls-question-mandatory,
.ls-question-help {
  font-weight: normal;
  font-size: 80%;
  margin-top: 5px;
  margin-left: 4px;
}

.question-code {
  font-style: italic;
  font-weight: normal;
  white-space: nowrap;
}

.question-code::before {
  content: "[";
}

.question-code::after {
  content: "]";
}

.question-text {
  order: 2;
}

/* end general styling of questions */
.boilerplate .ls-questionhelp {
  margin-top: 15px;
  margin-bottom: 15px;
}

.slider-handle {
  background-color: #702000;
}

.multiple-opt-comments .form-horizontal .control-label {
  text-align: left;
}

.array-multi-flexi .ls-answers thead th {
  font-size: 80%;
  font-weight: normal;
}

.input-group-addon.btn-primary {
  color: #fff;
}

.slider.slider-untouched .slider-handle {
  background-color: transparent;
}

.slider-handle.custom::before {
  color: #702000;
}

.slider.slider-untouched .slider-handle.custom::before {
  color: #bbb;
}

.btn-primary {
  border-color: #3d1100;
  background-color: #702000;
}

.btn-primary.active, .btn-primary:hover {
  background-color: #3d1100;
  border-color: #3d1100;
}

.btn-primary.active:hover, .btn-primary:hover:hover {
  background-color: #3d1100;
  border-color: #3d1100;
}

table {
  overflow: hidden;
}

.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: none;
}

.table,
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.table.table-col-hover,
.table.table-col-hover > thead > tr > th,
.table.table-col-hover > tbody > tr > th,
.table.table-col-hover > tfoot > tr > th,
.table.table-col-hover > thead > tr > td,
.table.table-col-hover > tbody > tr > td,
.table.table-col-hover > tfoot > tr > td {
  border: none;
  border-right: 1px solid #ccc;
}

.table.table-col-hover > thead > tr > th {
  border-bottom: 1px solid #ccc;
}

.table-hover > tbody > tr:hover {
  background-color: #eee;
}

.table-hover > tbody > tr:hover td:hover {
  background-color: #ddd;
}

.table.table-col-hover td:hover {
  background: #ddd;
}

.table-col-hover td {
  border-right: 1px solid #ccc;
}

.table-col-hover td:hover::after {
  background-color: #ddd;
  content: '';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.group-title.text-center {
  text-align: left;
  margin-left: 15px;
  margin-bottom: 15px;
}

.group-description.well {
  background: transparent;
  min-height: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.radio-item .ls-label-xs-visibility {
  width: 30px;
  height: 30px;
}

.radio-item label {
  padding-left: 20px;
  padding-top: 3px;
}

.radio-item label:before {
  width: 30px;
  height: 30px;
  border-color: #aaa;
  margin-right: 20px;
}

.radio-item label::after {
  background-color: #702000;
  width: 20px;
  height: 20px;
  left: 5px;
  top: 5px;
}

/* .checked .radio-item label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: $radiosize;
  height: $radiosize;
  
  margin-left: -20px;
  border: 1px solid #ff0000;
  border-radius: 50%;
  background-color: #fff;
} */
.checkbox-item label,
.checkbox-item label.ls-label-xs-visibility {
  padding-left: 18px;
  padding-top: 3px;
}

.checkbox-item label::before,
.checkbox-item label.ls-label-xs-visibility::before {
  width: 30px;
  height: 30px;
}

.checkbox-item label::after,
.checkbox-item label.ls-label-xs-visibility::after {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  padding-top: 0px;
  padding-left: 1px;
  background-color: #702000;
  color: white;
  font-size: 24px;
  line-height: 27px;
}

.checkbox-item .ls-label-xs-visibility {
  width: 30px;
  height: 30px;
}

.checkbox-list .input-sm {
  height: 32px;
  font-size: inherit;
}

.othertext-label-checkbox-container {
  padding-top: 0;
}

.leaflet-container,
div[id^="gmap_canvas"],
div[id^=" gmap_canvas"] {
  margin-top: 15px;
}

body {
  background-color: #eeeeee;
  background-image: url(../images/squaregrid.gif);
  background-repeat: repeat;
  background-position: fixed;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

.table > tbody > tr > td {
  vertical-align: top;
  /* Overruling Bootstrap for checkboxes and radios, since Bootstrap aligns them at top. */
}

.panel-primary {
  border-color: #702000;
}

.panel-primary .panel-heading {
  background: #702000;
  border-color: #702000;
}

.panel-primary .panel-heading h4 {
  color: white;
}

.checkbox-item label::before {
  border-color: #aaa;
}

.form-control {
  border-color: #aaa;
}

#navbar {
  font-size: 14px;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #702000;
  font-style: normal;
  font-weight: normal;
}

h1, .jumbotron h1, #wrapper h1 {
  font-size: 2.45rem;
  line-height: 3.3rem;
}

#welcome-container p {
  margin: 0 0 1.4rem;
  line-height: 2rem;
}

#welcome-container {
  border: 1px solid rgba(102, 102, 102, 0.35);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
  margin-top: 15px;
}

#welcome-container .survey-description,
#welcome-container .h4 {
  color: #333;
}

#welcome-container .survey-description.text-center,
#welcome-container .survey-name.text-center {
  text-align: left;
}

#welcome-container h1.survey-name {
  margin-top: 0;
}

.privacy > div {
  border: 1px solid rgba(102, 102, 102, 0.35);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.top-container .progress {
  height: 10px;
  box-shadow: none;
}

.progress-bar {
  background-color: #702000;
  color: #702000;
  box-shadow: none;
  border: none;
  font-size: 1px;
}

.progress {
  border: 1px solid rgba(102, 102, 102, 0.35);
  background-color: rgba(255, 255, 255, 0.5);
}

.language_change_container {
  height: auto;
  overflow: hidden !important;
}
