/* line 1, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_privacy.scss */
.limit-text-window {
  padding: 15px;
  border: none;
}

/* line 1, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_overrides.scss */
.space-col {
  margin: 0;
}

/* line 5, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_overrides.scss */
.privacy.row {
  margin: 0;
}

/* line 9, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_overrides.scss */
.privacy .h4 {
  margin-top: 0;
}

/* line 13, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_overrides.scss */
.survey-welcome.h4 {
  font-size: 16px;
}

/* line 18, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_overrides.scss */
.question-title-container .text-muted {
  color: #333;
}

/* general styling of questions */
/* line 3, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.question-container {
  border: 1px solid rgba(102, 102, 102, 0.35);
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
  border-radius: 4px;
}

/* line 9, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.question-container:hover {
  box-shadow: 0 0 20px #888888;
  transition-duration: 0.5s;
}

/* line 15, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.input-error.question-container {
  border-color: #b20d28;
  background-color: rgba(178, 13, 40, 0.05);
  box-shadow: 0 0 5px #b20d28;
}

/* line 20, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.input-error.question-container .question-title-container {
  background-color: #b20d28;
  background-color: #8f1a2c;
  background-image: -moz-linear-gradient(#b20d28, #8f1a2c);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b20d28), to(#8f1a2c));
  background-image: -webkit-linear-gradient(#b20d28, #8f1a2c);
  background-image: -o-linear-gradient(#b20d28, #8f1a2c);
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

/* line 32, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.question-title-container {
  color: #702000;
  text-shadow: 0 1px 0 white;
  display: flex;
  background-color: #eeeeee;
  background-color: #e2e2e2;
  background-image: -moz-linear-gradient(#eeeeee, #e2e2e2);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#e2e2e2));
  background-image: -webkit-linear-gradient(#eeeeee, #e2e2e2);
  background-image: -o-linear-gradient(#eeeeee, #e2e2e2);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* line 47, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.question-title-container p:last-child {
  margin-bottom: 0;
}

/* line 52, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.ls-answers {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 58, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.ls-answers .form-inline .form-group {
  margin-bottom: 15px;
}

/* line 62, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.ls-answers.form-group {
  margin-bottom: 15px;
}

/* line 66, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.ls-answers ul:first-child {
  margin-bottom: 0;
}

/* line 69, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.ls-answers ul:first-child li:last-child {
  margin-bottom: 0;
}

/* line 75, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.ls-question-help, .ls-questionhelp {
  font-size: 80%;
  color: #0b651b;
}

/* line 79, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.ls-question-help a, .ls-questionhelp a {
  text-decoration: underline;
  color: #0b651b;
}

/* line 85, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.asterisk {
  order: 1;
  width: 20px;
  font-size: 12px;
}

/* line 91, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.ls-question-mandatory,
.ls-question-help {
  font-weight: normal;
  font-size: 80%;
  margin-top: 5px;
  margin-left: 4px;
}

/* line 99, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.question-code {
  font-style: italic;
  font-weight: normal;
  white-space: nowrap;
}

/* line 105, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.question-code::before {
  content: "[";
}

/* line 109, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.question-code::after {
  content: "]";
}

/* line 113, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.question-text {
  order: 2;
}

/* line 118, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.ls-em-success {
  display: none;
}

/* end general styling of questions */
/* line 125, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.boilerplate .ls-questionhelp {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 131, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_questions.scss */
.slider-handle {
  background-color: #702000;
}

/* line 1, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_buttons.scss */
.btn-primary {
  border-color: #3d1100;
  background-color: #702000;
}

/* line 5, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_buttons.scss */
.btn-primary.active, .btn-primary:hover {
  background-color: #3d1100;
  border-color: #3d1100;
}

/* line 10, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_buttons.scss */
.btn-primary.active:hover, .btn-primary:hover:hover {
  background-color: #3d1100;
  border-color: #3d1100;
}

/* line 1, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_tables.scss */
table {
  overflow: hidden;
}

/* line 5, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_tables.scss */
.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: none;
}

/* line 15, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_tables.scss */
.table,
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* line 26, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_tables.scss */
.table.table-col-hover,
.table.table-col-hover > thead > tr > th,
.table.table-col-hover > tbody > tr > th,
.table.table-col-hover > tfoot > tr > th,
.table.table-col-hover > thead > tr > td,
.table.table-col-hover > tbody > tr > td,
.table.table-col-hover > tfoot > tr > td {
  border: none;
  border-right: 1px solid #ccc;
}

/* line 37, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_tables.scss */
.table.table-col-hover > thead > tr > th {
  border-bottom: 1px solid #ccc;
}

/* line 41, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_tables.scss */
.table-hover > tbody > tr:hover {
  background-color: #eee;
}

/* line 44, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_tables.scss */
.table-hover > tbody > tr:hover td:hover {
  background-color: #ddd;
}

/* line 50, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_tables.scss */
.table.table-col-hover td:hover {
  background: #ddd;
}

/* line 56, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_tables.scss */
.table-col-hover td {
  border-right: 1px solid #ccc;
}

/* line 60, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_tables.scss */
.table-col-hover td:hover::after {
  background-color: #ddd;
  content: '';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

/* line 1, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_group.scss */
.group-title.text-center {
  text-align: left;
  margin-left: 15px;
  margin-bottom: 15px;
}

/* line 7, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_group.scss */
.group-description.well {
  background: transparent;
  min-height: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

/* line 1, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_checkradio.scss */
.table > tbody > tr > td {
  vertical-align: top;
  /* Overruling Bootstrap for checkboxes and radios, since Bootstrap align them at top. */
}

/* line 7, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_checkradio.scss */
.checkbox-item label {
  padding-left: 15px;
}

/* line 11, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_checkradio.scss */
.checkbox-item .ls-label-xs-visibility {
  width: 27px;
  height: 27px;
}

/* line 15, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_checkradio.scss */
.checkbox-item .ls-label-xs-visibility::after {
  width: 25px;
  height: 25px;
  border-radius: 2px;
  padding-top: 4px;
  padding-left: 1px;
}

/* line 24, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_checkradio.scss */
.checkbox-item input[type="checkbox"]:checked + label::after,
.checkbox-item input[type="radio"]:checked + label::after {
  color: #fff;
  width: 25px;
  padding-left: 3px;
}

/* line 34, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_checkradio.scss */
.checkbox-list label::after,
.checkbox-item label::after {
  width: 25px;
  height: 25px;
  background-color: #702000;
  font-size: 20px;
  padding-right: 2px;
  padding-top: 0;
  border-radius: 2px;
}

/* line 45, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_checkradio.scss */
.checkbox-list label::before,
.checkbox-item label::before {
  width: 27px;
  height: 27px;
}

/* line 51, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_checkradio.scss */
label::after {
  background-color: #702000;
}

/* line 55, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_checkradio.scss */
.radio-item label::after {
  background-color: #702000;
}

/* line 59, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_checkradio.scss */
.completed-wrapper {
  /* development only */
}

/* line 60, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_checkradio.scss */
.completed-wrapper .assessment-table {
  display: none;
}

/* line 65, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_checkradio.scss */
.panel-primary {
  border-color: #702000;
}

/* line 68, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_checkradio.scss */
.panel-primary .panel-heading {
  background: #702000;
  border-color: #702000;
}

/* line 72, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/_checkradio.scss */
.panel-primary .panel-heading h4 {
  color: white;
}

/* line 10, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/custom.scss */
body {
  background-color: #eeeeee;
  background-image: url(../images/squaregrid.gif);
  background-repeat: repeat;
  background-position: fixed;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

/* line 20, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/custom.scss */
#navbar {
  font-size: 14px;
}

/* line 24, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/custom.scss */
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #702000;
  font-style: normal;
  font-weight: normal;
}

/* line 31, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/custom.scss */
h1, .jumbotron h1, #wrapper h1 {
  font-size: 2.45rem;
  line-height: 3.3rem;
}

/* line 36, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/custom.scss */
#welcome-container {
  border: 1px solid rgba(102, 102, 102, 0.35);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* line 44, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/custom.scss */
#welcome-container .survey-description,
#welcome-container .h4 {
  color: #333;
}

/* line 49, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/custom.scss */
#welcome-container .survey-description.text-center,
#welcome-container .survey-name.text-center {
  text-align: left;
}

/* line 54, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/custom.scss */
#welcome-container h1.survey-name {
  margin-top: 0;
}

/* line 60, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/custom.scss */
.privacy > div {
  border: 1px solid rgba(102, 102, 102, 0.35);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* line 70, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/custom.scss */
.top-container .progress {
  height: 10px;
  box-shadow: none;
}

/* line 76, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/custom.scss */
.progress-bar {
  background-color: #702000;
  color: #702000;
  box-shadow: none;
  border: none;
  font-size: 1px;
}

/* line 84, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/custom.scss */
.progress {
  border: 1px solid rgba(102, 102, 102, 0.35);
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 89, V:/surveys/survey.toolsforresearch.com/upload/themes/survey/tfr_responsive/sass/custom.scss */
.language_change_container {
  height: auto;
  overflow: hidden !important;
}

/*# sourceMappingURL=../css/custom.map */